/*----------Header backgorund section-----------*/
.header-bg {                                
    background-color:#A52A2A;
    height: 170px;
    width: 100%;
    z-index: 1;
}
body {
    margin: 0;
    padding: 0;
}
/*--------Upper strip of header background-------*/                          
.header-bg-part1 {
    background-color: #800000;
    height: 50px;
}
/*-------Header backgound earth Image---------*/
.bg-img {
    margin-left: 535px;
    opacity: .4;
    position: absolute;
    top: 0;
    z-index: 2;
} 
/*---------Header foegroung section-----------*/
.header { 
    height: 170px;
    margin: -170px auto;
    position: relative;
    width: 1000px;
    z-index: 3;
}
/*-------------Upper strip of header---------*/
.header-part1 {               
    height: 50px;
    position: absolute;
    width: 1000px;
}
.header-part1 .image {
    float: left; 
    height: 40px;
    width: 60px;
}
.header-part1 .link {
    float: left;
    height: 40px;
    margin-left: 130px;
    width: 630px;    
}
.header-part1 .link li {
    display: block;
    display: inline;
    display: table-cell;
    float: left;

}
a:link {
    color: #fff;
    display: inline;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
} 
a:visited {
    color: #fff;
    display: block;
}
.header-part1 .search {
    float: left;
    margin-top: 15px;
    width: 110px;
}
/*----Header part2 dynamic date updation section----*/
.header-part2 {                     
    height: 90px;
    float: left;
    margin-top: 50px;
    position: relative;
    width: 1000px;
}
.text-news {
    color: #fff;
    font-family: sans-serif;
    float: left;
    font-size: 60px;
    height: 80px;
    margin-top: 10px;
    padding: 0;
    width: 170px;
}
.text-news a {
    text-decoration: none;
    font-weight: normal;
}
.text-news p {
    margin: 0;
    padding: 0;
    width: 130px;
}
#text-date {
    float: left;
    font-family: sans-serif;
    font-size: 15px;
    height: 80px;
    width: 770px;
}
#text-date p {
    color: #fff;
    height: 70px;
    margin-top: 45px;
    padding: 0;
}
.text-rss {
    color: #fff;
    margin-top: 35px;
    padding: 0;
}
.text-rss a {
    margin: 0;
    padding: 0; 
}
/*------Header part 3 Anchor links------*/
.header-part3 {                             
    height: 40px;
    background-color: #000;
    margin-top: 130px;
    position: absolute;
    width: 1000px;
}
.header-part3-link li {
    display: inline-block;
}
/*---Sublinks in response of clicking main links----*/
.pop-up-link {                        
    background-color: #f5f5f5;
    color: #000;
    height: 40px;
    margin: 170px auto 0;
    width: 1000px;
    z-index: 4;
}
.pop-up-link a {
    color: #808080;//Grey hex code                                   
}
.pop-up-link li {
    color: #000;
    display: inline-block;
    margin-top: 10px;
}
#latest {
    color: grey; 
    font-weight: bold;
}
.latest-news {
    height: 40px;
    margin: 0 auto;
    width: 1000px;
}
.latest-news a {
    color: #036;
    font-weight: normal;
    margin-top: 10px;
}
/*----Contains body part including sidebar(advertisement)---*/
.body-bbc {                                
    border-color: #808080;
    border-style: solid hidden hidden hidden;
    border-width: 1px;
    margin: 0 auto;
    width: 1000px;
}
.body-bbc a {
    color: #036;
}                         
/*-------------News story section-------------*/
.main-content {                                           
    border-color: #808080;
    border-style: solid hidden hidden hidden;
    border-width: 1px;
    width: 700px;
}
/*---------------Top story section-------------*/
.top-story {                                                
    color: #036;                                           
    float: left;
    position: relative;
    width: 700px;
}
.top-story-heading {
    font-size: 20px;
}
.top-story-heading p a {
    width: 335px;
}
.top-story-image {
    float: left;
    height: 230px;
}
.top-story-text {
    color: #505050;
    float: left;
    font-family: Arial,Helmet,Freesans,sans-serif;
    margin: -10px 10px;
}
.top-story-text p {
    margin: 0;
}
.top-story-link { 
    color: #036;
    float: left;
    font-family: sans-serif;
    margin-left: 10px;    
}
.top-story-link p {
    color: #1f4f82;
    margin: 0px 0;
    padding: 0;
    width: 270px;
}
.top-story-link p a {
    margin: -25px 30px -15px 35px;
}
.top-story-link p img {
    margin-top: 15px;
}
/*-------------Second story section------------*/
.second-story {                                       
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    color: #505050;
    margin-top: 310px;
    position: absolute;
    width: 690px;
}
.second-story-img {
    float: left;
    margin-top: 15px;
}
.second-story-link {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.second-story-text {
    color: #505050;
    float: left;
    font-family: Arial,Helmet,Freesans,sans-serif;
    margin-top: -10px;
}
.second-story-links img {
    float: left;
    margin: 0;
    padding: 0;
}
.second-story-links {
    color: #1f4f82;
    float: left;
    margin: 0;
    padding: 0;
    width: 285px;
}
.second-story-links a {
    height: 22px;
    margin-top: 10px;
    padding: 0;
    width: 267px;
}
/*----------------Third story section-------------*/
.third-story {                                          
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    color: #505050;
    margin-top: 570px;
    position: absolute;
    width: 690px;
}
.third-story-img {
    float: left;
    margin-top: 15px;
}
.third-story-link {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.third-story-text {
    color: #505050;
    float: left;
    font-family: Arial,Helmet,Freesans,sans-serif;
    margin-top: -10px;
}
.third-story-links img {
    float: left;
    margin: 0;
    padding: 0;
}
.third-story-links {
    color: #1f4f82;
    float: left;
    margin: 0;
    padding: 0;
    width: 285px;

}
.third-story-links a {
    height: 22px;
    margin-top: 10px;
    padding: 0;
    width: 267px;
}
/*-----------Video slide section----------------*/
h4 {                                                 
    font-size: 30px; 
    margin: 0;
}
.upper-slide {                                        
    float: left;
    height: 200px;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: 820px; 
    position: absolute;
    width: 700px;
}
.upper-slide a {
    margin: 0;padding: 0;
}
.slide-smbl-image1 {
    background-color: #000;
    float: left;
    height: 111px;
    margin-left: 5px;
    margin-top: 35px;
    width: 20px;
}
.slide-smbl-image1 a,.slide-smbl-image2 a {
    color: #fff;
    margin-top: 45px;
    margin-left: 5px;
}
.upper-slide1 {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-left: 5px;  
}
.upper-slide2 {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-left: 5px;
}
.upper-slide3 {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-left: 5px;
}
.upper-slide4 {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-left: 5px;
}
.upper-slide-link {
    margin-top: 80px;
    margin-left: 25px;
    position: absolute;
}
.upper-slide1-link {
    background-color: #ffa500;
    display: inline;
    float: left;
    font-size: 13px;
    margin-left: -20px;
    margin-left: 5px; 
    margin-top: 0;
    width: 144px;
}
.upper-slide2-link {
    background-color: #ffa500;
    display: inline-block;
    float: left;
    font-size: 13px;
    margin-left: 5px; 
    width: 144px;
}
.upper-slide3-link {
    background-color: #ffa500;
    display: inline-block;
    float: left;
    font-size: 13px;
    margin: 0 auto;
    margin-left: 5px; 
    width: 144px;
}
.upper-slide4-link {
    background-color: #ffa500;
    display: inline-block;
    font-size: 13px;
    margin: 0 auto;
    margin-left: 5px; 
    width: 144px;
}
.slide-smbl-image2 {
    background-color: #000;
    float: left;
    height: 111px;
    margin-left: 5px;
    width: 20px;
}
.slide-smbl-image2 {
    background-color: #000;
    float: left;
    height: 111px;
    margin-left: 5px;
    width: 20px;
}
/*---------------Asia/Pacific section------------*/
.slide {                                             
    height: 200px;
    margin-top: 983px; 
    margin-left: 15px;
    position: absolute;
    width: 700px;
}
.hr {
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    color: #808080;
    margin-bottom: -10px;
    width: 600px;
}
.slide h3 {
    font-size: 30px;
    margin-top: 20px; 
    margin-bottom: 0;
    padding: 0;
}
.country-link {
    float: left;
    margin-top: 20px;
}
.country-link a {
    font-size: 18px;
    margin-right: 90px;
}
.austrlia {
    float: left;
}
.china {
    float: left;
}
.india {
    float: left;
}
.rest {

    float: left;
    margin-left: 20px;
}
.slide-img {
    display: inline-block;
    margin: 0 auto;
}
.slide-img a {
    margin: 0;
}

.slide-img1 {
    float: left;
    margin-left: 5px;

}
.slide-img2 {
    float: left;
    margin-left: 5px;
}
.slide-img3 {
    float: left;
    margin-left: 5px;
}
.slide-img4 {
    float: left;
    margin-left: 5px;
}
.slide-img1-link {
    float: left;
    margin-left: 5px;
    width: 144px;
}
.slide-img2-link {
    float: left;
    margin-left: 5px; 
    width: 144px;
}
.slide-img3-link {
    float: left;
    margin-left: 5px;
    width: 144px;
}
.slide-img4-link {
    float: left;
    margin-left: 5px;
    width: 144px;
}
.slide-img-link a {
    font-size: 12px;
}
/*----------------Services section--------------*/
.services {                                             
    float: left;
    height: 190px;
    margin-left: 5px;
    margin-top: 1200px;
    position: absolute;
    width: 837px;
}
.services p {
    font-size: 28px; 
    font-weight: bold; 
    width: 300px;
}
.services img {
    margin-right: 60px;
}
.mobile {
    display: inline-block;
    float: left;
    margin-left: 5px;
    width: 40px;
}
.tv {
    display: inline-block;
    float: left;
    margin-left: 67px;
    width: 40px;
}
.news-feed {
    display: inline-block;
    float: left;
    margin-left: 80px;
    width: 40px;
}
.alerts {
    display: inline-block;
    float: left;
    margin-left: 88px; 
    width: 40px;
}
.E-mail {
    display: inline-block;
    float: left;
    margin-left: 87px;
    width: 40px;
}
.img-links {
    float: left;
    margin-left: 526px;
    width: 700px;

}
.img-links a {
    font-size: 15px;
}
.mobile-link {
    float: left;
    margin-left: -530px;
}
.tv-link {
    float: left;
    margin-left: -447px;
}
.news-feed-link {
    float: left; 
    margin-left: -313px;
}
.alert-link {
    float: left;  
    margin-left: -170px;
}
.email-link {
    float: left; 
    margin-left: -58px;
}
.about-bbc {
    float: right;
    height: 115px;
    margin-left: 39px;
    margin-top: -117px;
}
.about-bbc li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#about-news {
    font-size: 22px; 
    padding-bottom: 5px; 
}
/*-------------------Advertisement section--------------*/
.sidebar {                                         
    float: left;
    height: 1000px;
    margin-top: 10px;
    width: 290px;
}
/*--------------------Top advertisement-------------*/
.add1 {                                              
    background-color: #f5f5f5;
    height: 240px;

}
.header-add1 {
    color: #808080;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: -20px;
    text-indent: 5px;
}
.sidebar-img1 {
    float: left;
    font-family: sans-serif;
    height: 70px;
    margin-top: -20px;
    padding: 0 5px;
    width: 110px;
}
.sidebar-img-link1 {
    float: left;
}
.sidebar-img-link1 a {
    color: #036;
    margin-top: -20px;
    text-indent: 10px;
}
.sidebar-img-text1 {
    color: #808080;   
}
/*-------------------Second advertisement-----------------*/
.sidebar-img2 {                                        

    float: left;
    font-family: sans-serif;
    height: 70px;
    margin-top: 0px;
    padding: 0 5px;
    width: 110px;
}
.sidebar-img-link2 {
    float: left;
    margin-top: 5px;
}
.sidebar-img-link2 a {
    color: #036;
    margin-top: -5px;
    text-indent: 10px;
}
.sidebar-img-text2 {
    color: #808080;
}
.header-add2 {
    float: right;
    margin-top: 20px;
}
.sidebar-img3 {
}
/*--------------------Third advertisement--------------------*/
.add3 {                                               
    background-color: #f5f5f5;
    height: 240px;
}
.header-add3 {
    color: #808080;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: -20px;
    text-indent: 5px;
}
.sidebar-add3-img1 {
    float: left;
    font-family: sans-serif;
    height: 70px;
    margin-top: -20px;
    padding: 0 5px;
    width: 110px;
}
.sidebar-add3-img-link1 {
    float: left;
    margin-top: -20px;
}
.sidebar-add-img-link1 a {
    color: #036;
    margin-top: -20px;
    text-indent: 10px;
}
.sidebar-add3-img-text1 {
    color: #808080;    
}
.sidebar-add3-img2 {
    float: left;
    font-family: sans-serif;
    height: 70px;
    margin-top: 20px;
    padding: 0 5px;
    width: 110px;
}
.sidebar-add3-img-link2 {
    float: left;
    margin-top: 26px;
}
.sidebar-add3-img-link2 a {
    color: #036;
    margin-top: -5px;
    text-indent: 10px;
}
.sidebar-add3-img-text2 {
    color: #808080;
}
/*------------------Footer section-------------*/
.footer {                                                  
    border-style: solid hidden hidden hidden;
    border-width: 1px;
    color: #505050;
    float: left;
    margin: 1420px 0 0 180px;
    position: absolute;
    width: 1000px;   
}
.footer-img-div {
    height: 150px;
    margin-top: 20px;
    width: 400px;
}
.footer-links {
    float: left;
    height: 100px;
    margin-left: 400px;
    margin-top: -168px;
    width: 590px;
}
.footer-links li {
    list-style-type: none;  
}
.footer-links a {
    color: #808080;
    font-size: 13px;
    font-weight: normal;
}
.footer-links-div1 {
    float: left;
}
.footer-links-div2 {
    float: left;
}
.footer-links-div3 {
    float: left;
}
.copy-right-div {
    color: #808080;
    margin-top: 20px;
}
.copy-right-div p {
    margin-top: -7px; 
}
.copy-right-div a {
    color: #808080;
    font-size: 13px;
    font-weight: normal;
    margin-top: -15px;
    padding: -13px;
}